<template>
  <DoughnutChart :chart-data="chartData" :options="chartOptions" />
</template>

<script>
import { DoughnutChart } from 'vue-chart-3';
import { Chart, DoughnutController, ArcElement, Tooltip, Legend } from 'chart.js';

Chart.register(DoughnutController, ArcElement, Tooltip, Legend);

export default {
	name: 'AdminDoughnutChart',
	components: {
		DoughnutChart
	},
	props: {
		data: {
			type: Object,
			required: true
		},
	},
	data() {
		return {
			chartData: {
				labels: this.$props.data.labels,
				datasets: [
					{
						label: 'Categories',
						backgroundColor: [
							'#858796',
							'#1cc88a',
							'#4e73df',
							'#36b9cc',
							'#e74a3b',
							'#f6c23e'
						],
						data: this.$props.data.data,
					}
				]
			},
			chartOptions: {
				plugins: {
					legend: {
						labels: {
							usePointStyle: true,
						},
						position: 'bottom',
					},
					tooltip: {
						backgroundColor: 'rgb(255,255,255)',
						bodyColor: '#858796',
						borderColor: '#dddfeb',
						borderWidth: 1,
						padding: 15,
						displayColors: false,
						caretPadding: 10,
					},
				},
				maintainAspectRatio: true,
				responsive: true,
				cutout: '80%',
			}
		};
	},
};
</script>
