<template>
  <LineChart :chart-data="chartData" :options="chartOptions" />
</template>

<script>
import { LineChart } from 'vue-chart-3';
import { CategoryScale, Chart, Filler, LinearScale, LineController, LineElement, PointElement, Tooltip, Legend } from 'chart.js';

Chart.register(CategoryScale, Filler, LinearScale, LineController, LineElement, PointElement, Tooltip, Legend);

export default {
	name: 'AdminLineChart',
	components: {
		LineChart
	},
	props: {
		data: {
			type: Object,
			required: true
		},
	},
	data() {
		return {
			chartData: {
				labels: this.$props.data.labels,
				datasets: [
					{
						lineTension: 0.3,
						label: 'Articles',
						fill: true,
						backgroundColor: 'rgba(78, 115, 223, 0.05)',
						borderColor: 'rgba(78, 115, 223, 1)',
						pointRadius: 3,
						pointBackgroundColor: 'rgba(78, 115, 223, 1)',
						pointBorderColor: 'rgba(78, 115, 223, 1)',
						pointHoverRadius: 3,
						pointHoverBackgroundColor: 'rgba(78, 115, 223, 1)',
						pointHoverBorderColor: 'rgba(78, 115, 223, 1)',
						pointHitRadius: 10,
						pointBorderWidth: 2,
						data: this.$props.data.data,
					}
				]
			},
			chartOptions: {
				layout:  {
					padding: {
						left: 10,
						right: 25,
						top: 25,
						bottom: 0
					}
				},
				plugins: {
					legend: {
						display: false,
					},
					tooltip: {
						backgroundColor: 'rgb(255,255,255)',
						bodyColor: '#858796',
						titleMarginBottom: 10,
						titleColor: '#6e707e',
						font: {
							size: 14,
						},
						borderColor: '#dddfeb',
						borderWidth: 1,
						padding: 15,
						displayColors: false,
						intersect: false,
						mode: 'index',
						caretPadding: 10,
					},
				},
				scales: {
					x: {
						gridLines: {
							color: 'rgb(234, 236, 244)',
							zeroLineColor: 'rgb(234, 236, 244)',
							borderDash: [],
							borderDashOffset: 0.0,
							lineWidth: 1
						},
						ticks: {
							fontColor: 'rgb(84, 84, 86)',
							fontStyle: 'bold'
						}
					},
					y: {
						ticks: {
							beginAtZero: true,
							fontColor: 'rgb(84, 84, 86)',
							fontStyle: 'bold'
						}
					}
				},
				maintainAspectRatio: false,
			}
		};
	}
};
</script>
