<template>
  <div id="autocomplete" class="pt-3" />
</template>

<script>
import { autocomplete, getAlgoliaResults } from '@algolia/autocomplete-js';

import '@algolia/autocomplete-theme-classic';

const searchClient = algoliasearch(
	process.env.MIX_ALGOLIA_APP_ID,
	process.env.MIX_ALGOLIA_SEARCH
);

export default {
	mounted() {
		autocomplete({
			container: '#autocomplete',
			placeholder: 'Rechercher un article, un flux RSS ou un utilisateur',
			getSources({ query }) {
				return [
					{
						sourceId: 'articles',
						getItems() {
							return getAlgoliaResults({
								searchClient,
								queries: [
									{
										indexName: 'articles',
										query,
										params: {
											hitsPerPage: 5,
										},
									},
								],
							});
						},
						getItemUrl({ item }) {
							return `/admin/articles/${item.id}`;
						},
						templates: {
							header({ createElement }) {
								return createElement('div', {
									dangerouslySetInnerHTML: {
										__html: '<span class="fw-bold">Articles</span>',
									},
								});
							},
							item({ item, createElement }) {
								return createElement('div', {
									dangerouslySetInnerHTML: {
										__html: `<a href="/admin/articles/${item.id}" class="text-reset text-decoration-none">
                                                    <div class="align-middle">
                                                        <span class="badge rounded-pill bg-secondary fw-bold">#${item.id}</span>
                                                        <span class="text-muted">${item.category_name}</span>
                                                        <span>${item.title}</span>
                                                        <span class="float-end text-muted"><i class="fa-regular fa-share fa-flip-horizontal"></i></span>
                                                    </div>
                                                </a>`,
									},
								});
							},
						},
					},
					{
						sourceId: 'feeds',
						getItems() {
							return getAlgoliaResults({
								searchClient,
								queries: [
									{
										indexName: 'feeds',
										query,
										params: {
											hitsPerPage: 5,
										},
									},
								],
							});
						},
						getItemUrl({ item }) {
							return `/admin/feeds/${item.id}`;
						},
						templates: {
							header({ createElement }) {
								return createElement('div', {
									dangerouslySetInnerHTML: {
										__html: '<span class="fw-bold">Flux RSS</span>',
									},
								});
							},
							item({ item, createElement }) {
								return createElement('div', {
									dangerouslySetInnerHTML: {
										__html: `<a href="/admin/feeds/${item.id}" class="text-reset text-decoration-none">
                                                    <div class="align-middle">
                                                        <span class="badge rounded-pill bg-secondary fw-bold">#${item.id}</span>
                                                        <span>${item.name}</span>
                                                        <span class="float-end text-muted"><i class="fas fa-share fa-flip-horizontal"></i></span>
                                                    </div>
                                                </a>`,
									},
								});
							},
						},
					},
					{
						sourceId: 'users',
						getItems() {
							return getAlgoliaResults({
								searchClient,
								queries: [
									{
										indexName: 'users',
										query,
										params: {
											hitsPerPage: 5,
										},
									},
								],
							});
						},
						getItemUrl({ item }) {
							return `/admin/users/${item.id}`;
						},
						templates: {
							header({ createElement }) {
								return createElement('div', {
									dangerouslySetInnerHTML: {
										__html: '<span class="fw-bold">Utilisateurs</span>',
									},
								});
							},
							item({ item, createElement }) {
								return createElement('div', {
									dangerouslySetInnerHTML: {
										__html: `<a href="/admin/users/${item.id}" class="text-reset text-decoration-none">
                                                    <div class="align-middle">
                                                        <span class="badge rounded-pill bg-secondary fw-bold">#${item.id}</span>
                                                        <span>${item.name}</span>
                                                        <span class="text-muted">${item.email}</span>
                                                        <span class="float-end text-muted"><i class="fas fa-share fa-flip-horizontal"></i></span>
                                                    </div>
                                                </a>`,
									},
								});
							},
						},
					},
				];
			},
		});
	}
};
</script>
