<template>
  <form method="POST" @submit.prevent="submit">
    <div class="my-4 text-center">
      <h1 class="display-5 fw-bold text-dark-green title-underline-green title-underline-center">
        Partager un lien
      </h1>
    </div>

    <div v-if="alert" class="alert alert-success bg-green" role="alert">
      {{ alert }}
    </div>

    <div class="bg-white rounded shadow-sm p-3">
      <fieldset id="url-container">
        <div>
          <label for="url" class="form-label fw-bold">Lien</label>
          <div class="input-group">
            <input id="url" v-model="url" type="url" class="form-control border-1" :class="{ 'is-invalid': urlInvalidFeedback }" name="url" :placeholder="urlPlaceholder" aria-describedby="urlHelp" required>
            <button id="paste-btn" class="btn border-start-0 border-1 rounded-end bg-body text-dark-green fw-bold" type="button" @click="pasteURL">
              Coller<div class="d-none d-md-inline-block">
                &nbsp;le press-papier
              </div>
            </button>
            <div id="urlHelp" class="invalid-feedback">
              {{ urlInvalidFeedback }}
            </div>
          </div>
          <div id="urlHelp" class="form-text">
            Notre robot va trouver le titre et la description du lien.
          </div>
        </div>
        <div id="loading" class="d-none mt-3 d-flex align-items-center">
          <span class="spinner-border spinner-border-md" role="status" aria-hidden="true" />
          <span class="ps-2 fs-4">Notre robot analyse le lien.</span>
        </div>
      </fieldset>
      <fieldset id="details-container" class="d-none mt-3">
        <legend>Données relatives au lien</legend>
        <div class="mb-3">
          <label for="title" class="form-label fw-bold">Titre</label>
          <input id="title" v-model="title" type="text" class="form-control border border-1" name="title" required>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label fw-bold">Description</label>
          <textarea id="description" v-model="description" class="form-control border border-1" name="description" rows="3" required />
        </div>
        <div class="mb-3">
          <label for="category" class="form-label fw-bold" aria-describedby="categoryHelpInline">Catégorie</label>
          <span id="categoryHelpInline" class="form-text">
            Veuillez choisir une catégorie.
          </span>
          <select id="category" v-model="category" name="category" class="form-select border border-1" aria-label="Sélectionnez une catégorie" required>
            <option value="" disabled selected hidden>
              Sélectionnez une catégorie
            </option>
            <option v-for="categoryOption in categories" :key="categoryOption.slug" :value="categoryOption.id">
              {{ categoryOption.name }}
            </option>
          </select>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-dark-green btn-lg">
            <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true" />
            Partager le lien
          </button>
        </div>
      </fieldset>
    </div>
  </form>
</template>

<script>
export default {
	props: {
		categories: {
			type: Array,
			required: true
		}
	},
	data() {
		return {
			url: '',
			title: '',
			author: '',
			image: '',
			description: '',
			category: '',
			urlPlaceholder: 'Coller l\'URL ici',
			urlInvalidFeedback: '',
			alert: ''
		};
	},
	watch: {
		url: function() {
			this.urlInvalidFeedback = '';

			if (this.url === '') return;

			document.querySelectorAll('#url-container #loading')[0].classList.remove('d-none');

			axios.post('/articles/create/fetch', {
				url: this.url
			}).then(response => {
				document.querySelectorAll('#url-container #loading')[0].classList.add('d-none');

				if (response.data.length === 0 || response.status !== 200) {
					return this.urlInvalidFeedback = 'L\'URL ne semble pas valide.';
				}

				this.title =  response.data[0].title;
				this.description = response.data[0].description;
				this.image = response.data[0].image;
				this.author = response.data[0].site_name;

				document.querySelectorAll('#details-container')[0].classList.remove('d-none');
			}).catch(error => {
				document.querySelectorAll('#url-container #loading')[0].classList.add('d-none');

				if (error.response.status === 409) {
					return this.urlInvalidFeedback = error.response.data.message;
				}
				return this.urlInvalidFeedback = 'L\'URL ne semble pas valide.';
			});
		}
	},
	mounted() {
		setInterval(() => {
			if (document.hasFocus()) {
				navigator.permissions.query({ name: 'clipboard-read' }).then(result => {
					// If permission to read the clipboard is granted or if the user will
					// be prompted to allow it, we proceed.

					if (result.state === 'granted' || result.state === 'prompt') {
						navigator.clipboard.readText()
							.then(text => {
								if (text.match(/^https?:\/\//)) {
									this.urlPlaceholder = 'Coller l\'URL: ' + text;
								}
							})
							.catch(err => {
								console.error('Failed to read clipboard contents: ', err);
							});
					}
				});
			}
		}, 1000);
	},
	methods: {
		pasteURL() {
			navigator.permissions.query({ name: 'clipboard-read' }).then(result => {
				// If permission to read the clipboard is granted or if the user will
				// be prompted to allow it, we proceed.

				if (result.state === 'granted' || result.state === 'prompt') {
					navigator.clipboard.readText()
						.then(text => {
							if (text.match(/^https?:\/\//)) {
								this.url = text;
							}
						})
						.catch(err => {
							console.error('Failed to read clipboard contents: ', err);
						});
				}
			});
		},
		submit() {
			document.querySelectorAll('#details-container .spinner-border')[0].classList.remove('d-none');

			axios.post('/articles', {
				url: this.url,
				title: this.title,
				author: this.author,
				description: this.description,
				image: this.image,
				category: this.category
			}).then(response => {
				if (response.status === 201) {
					document.querySelectorAll('#details-container .spinner-border')[0].classList.add('d-none');

					this.url = '';
					this.title = '';
					this.author = '';
					this.image = '';
					this.description = '';
					this.category = '';

					this.alert = 'Le lien a bien été partagé, nous allons le valider le plus rapidement possible, vous allez être redirigé vers la page d\'accueil.';

					setTimeout(() => {
						window.location.href = '/';
					}, 5000);
				}
			});
		}
	}
};
</script>

<style lang="scss" scoped>
@import '../../../sass/variables';
@import '../../../sass/default';

#paste-btn {
    border-color: #ced4da;

	&:hover,
	&:focus {
		border-color: rgba($green, 0.25);
		box-shadow: 0 0 0 0.2rem rgba($green, 0.25);
	}
}
</style>
