<template>
  <ul class="d-grid gap-3 mb-5 list-unstyled">
    <li v-for="article in articles" :key="article.slug">
      <article-show :article="article" :badge="badge" />
    </li>

    <div class="d-flex flex-column justify-content-center align-items-center">
      <div id="load-more">
        <button class="btn btn-dark-green d-flex justify-content-center" type="button" @click="getArticles">
          <span id="spinner" class="spinner-border spinner-border-md" role="status" aria-hidden="true" />
          <span class="ps-2 fs-4">Voir plus d'articles</span>
        </button>
      </div>

      <div id="no-more">
        <span class="fs-4">Vous êtes arrivé à la fin</span>
      </div>

      <div id="no-results">
        <span class="fs-4">Pas encore d'article</span>
      </div>
    </div>
  </ul>
</template>

<script>
export default {
	props: {
		badge: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			articles: [],
			next_page_url: '/api/articles',
		};
	},
	mounted() {
		this.getArticles();
	},
	methods: {
		loading() {
			document.getElementById('spinner').style.display = 'inline-block';
		},
		loaded() {
			document.getElementById('spinner').style.display = 'none';
		},
		complete() {
			document.getElementById('load-more').style.display = 'none';
			document.getElementById('no-more').style.display = 'block';
		},
		noResults() {
			document.getElementById('load-more').style.display = 'none';
			document.getElementById('no-more').style.display = 'none';
			document.getElementById('no-results').style.display = 'block';
		},
		getArticles() {
			this.loading();
			axios.get(this.next_page_url)
				.then(response => {
					return response.data;
				}).then(data => {
					if (data.next_page_url == null) {
						this.complete();
					}

					if (data.data.length == 0) {
						this.noResults();
					}

					if (data.data.length != 0) {
						this.next_page_url = data.next_page_url;
						this.articles = this.articles.concat(data.data);
						this.loaded();
					}
				});
		},
	}
};
</script>

<style lang="scss" scoped>
	#no-results, #no-more, #spinner {
		display: none;
	}
	#load-more button {
		box-shadow: none;
	}
</style>
