<template>
  <article class="mb-3">
    <a :href="article.url" target="_blank" rel="noreferrer noopener">
      <div class="row g-0 align-items-center position-relative bg-white text-dark-green rounded">
        <div class="col-md-6 mb-md-0 p-md-4">
          <img :src="article.image" class="w-100 article-img" loading="lazy" alt>
        </div>
        <div class="col-md-6 p-4 ps-md-0">
          <p v-if="badge === true && article.category" class="fw-bold text-uppercase mb-1">{{ article.category.name }}</p>
          <h2 class="mt-0 fw-bold">{{ article.title }}</h2>
          <p class="fs-5 d-none d-md-block">{{ truncate(article.description, 220) }}</p>
          <p class="fs-6 text-muted mb-0"><span v-if="article.author"><span class="fw-bold">{{ article.author }}</span>, </span> {{ fromNow(article.published_at) }}</p>
        </div>
      </div>
    </a>
  </article>
</template>

<script>
export default {
	props: {
		article: {
			type: Object,
			required: true
		},
		badge: {
			type: Boolean,
			default: false
		}
	},
	methods: {
		truncate(value, length) {
			value = value.toString();
			if (value.length > length) {
				value = value.substring(0, (length - 3)) + '...';
			}
			return value;
		},
		fromNow(datetime) {
			return dayjs(datetime).fromNow();
		}
	}
};
</script>

<style lang="scss" scoped>
@import '../../../sass/variables';

.article-img {
    max-height: 300px;
    object-fit: contain;
    object-position: center;
}

article a {
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: auto;
    display: inline-block;
	outline: 0;
}

</style>
