.bg-dark-green {
	background-color: $dark-green;
	color: $white;
}

.bg-green {
	background-color: $green;
	color: $white;
}

.text-dark-green {
	color: $dark-green !important;
}

.text-green {
	color: $green;
}

.btn-dark-green {
	background-color: $dark-green;
	color: $white;
	opacity: 1;
	outline: 0;
	transition: all 0.2s ease-in-out;

	&:hover,
	&:focus {
		color: $white;
		opacity: 0.9;
	}
}

.btn-outline-dark-green {
	border-color: $dark-green;
	color: $dark-green;
	background-color: none;
	outline: 0;
	transition: all 0.2s ease-in-out;

	&:hover,
	&:focus {
		color: $white;
		background-color: $dark-green;
	}
}

.title-underline-green::after {
	content: '';
	display: block;
	width: 125px;
	height: 10px;
	background-color: $green;
	border-radius: 0.1rem;
}

.title-underline-center {
	text-align: center;

	&::after {
		margin: 0 auto;
	}
}

/**
** Default
**/

html {
	scroll-behavior: smooth;
}

::selection {
	color: $white;
	background-color: $green;
}

input {
	accent-color: $green;
}

.form-check-input:checked {
	background-color: $green;
	border-color: $green;
}

.form-control:focus,
.btn:focus {
	border-color: rgba($green, 0.25);
	box-shadow: 0 0 0 0.2rem rgba($green, 0.25);
}
