// Body
$body-bg: #f5f6fa;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$offcanvas-horizontal-width: 100%;

// Colors
$dark-green: #26342f;
$green: #497f70;
$peach: #d28062;
$primary: #2980b9;
$success: #27ae60;
$info: #3498db;
$warning: #f1c40f;
$danger: #e74c3c;
$light: #f8f9fc;
$white: #ffffff;
$muted: #6c757d;
