body {
	font-size: 1rem;
}

.feather {
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
}

/*
* Sidebar
*/

.sidebar {
	position: fixed;
	top: 0;

	/* rtl:raw:
    right: 0;
    */
	bottom: 0;

	/* rtl:remove */
	left: 0;
	z-index: 100; /* Behind the navbar */
	padding: 48px 0 0; /* Height of navbar */
	box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}

@media (max-width: 767.98px) {
	.sidebar {
		top: 0;
	}
}

.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 48px);
	padding-top: 0.5rem;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
	font-weight: 500;
	color: #333333;
}

.sidebar .nav-link .feather {
	margin-right: 4px;
	color: #727272;
}

.sidebar .nav-link.active {
	color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
	color: inherit;
}

.sidebar-heading {
	font-size: 0.75rem;
	text-transform: uppercase;
}

/*
* Navbar
*/

.navbar-brand {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	font-size: 1rem;
	background-color: rgb(0 0 0 / 25%);
	box-shadow: inset -1px 0 0 rgb(0 0 0 / 25%);
}

.navbar .navbar-toggler {
	top: 0.25rem;
	right: 1rem;
}

.navbar .form-control {
	padding: 0.75rem 1rem;
	border-width: 0;
	border-radius: 0;
}

.form-control-dark {
	color: $white;
	background-color: rgb(255 255 255 / 10%);
	border-color: rgb(255 255 255 / 10%);
}

.form-control-dark:focus {
	border-color: transparent;
	box-shadow: 0 0 0 3px rgb(255 255 255 / 25%);
}
