nav {
	.btn-articles-create {
		display: inline-block;
		background-color: $white;
		color: $dark-green;
		text-decoration: none;
		padding: 10px 20px;
		font-size: 1.3em;
		font-weight: 500;
		box-shadow: 0 0 20px 0 rgba($color: $white, $alpha: 30%);
		transition: all 0.2s ease-in-out;

		&:hover {
			box-shadow: none;
			cursor: pointer;
		}
	}

	#nav-toggler {
		border: none;
		padding: 0;
		box-shadow: none;
	}

	.nav-logo {
		width: 100%;
		max-width: 250px;
		pointer-events: none;
	}

	ul:not(:first-child) .nav-item a {
		padding: 0.5em 0;
		font-size: 1.4em;
	}

	#offcanvas-navbar {
		padding: 0 10px;

		.offcanvas-header {
			padding-top: 35px;

			.btn-close {
				background-size: 1.4em;

				&:focus {
					box-shadow: none;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	nav #nav {
		visibility: hidden !important;
	}

	nav .nav-logo {
		width: 250px;
	}
}
