.categories-container {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	scrollbar-width: none; // Fix for Firefox
	-webkit-overflow-scrolling: touch;

	&::-webkit-scrollbar {
		display: none;
	}

	li {
		margin-left: 10px;
		margin-right: 10px;

		a {
			display: inline-block;
			background-color: none;
			border-radius: 0.25rem;
			box-shadow: none;
			color: $green;
			text-transform: uppercase;
			font-weight: 600;
			line-height: 1.125rem;
			letter-spacing: 0.05em;
			text-decoration: none;
			outline: 0;
			padding: 10px 20px;
			margin: 0;
			transition: all 0.2s ease-in-out;

			&:hover,
			&:focus {
				background-color: $green;
				color: $white;
			}
		}

		&.active {
			a {
				background-color: $green;
				color: $white;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.categories-container {
		justify-content: space-between;
	}
}
